[mysqld]
user			= root
port			= 3306

basedir			= /usr
datadir			= /var/lib/mysql
tmpdir			= /tmp

skip-networking		= false
bind-address		= 0.0.0.0

# utf8 4-byte character set. See also client.cnf
character-set-server  = utf8mb4

# Enable general query log
general_log = 1
general_log_file = /var/log/mysql/general.log

# Enable slow query log (adjust long_query_time to the time threshold in seconds)
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time = 2 # Example: Queries taking 2 seconds or longer

# Enable error log
log_error = /var/log/mysql/error.log
